

<h2> Loan</h2>
<div class="row position-relative mb-5">
    <div class="col-sm-4 pr-lg-0 ">
        <div class="icons bl icon-1">
            <img src="../../../../assets/images/coin.png" alt="" >
            <h2>
                SME Loans
            </h2>
        </div>
    </div>
    <div class="col-sm-4 pl-lg-0 pr-lg-0">
        <div class="icons">
            <img src="../../../../assets/images/receipt-minus.png" alt="" >
            <h2>
                Local Purchase Order
            </h2>
            <button class="btn btn-light">Apply</button>
        </div>
    </div>
    <div class="col-sm-4 pl-lg-0 ">
        <div class="icons last-icon br">
            <img src="../../../../assets/images/archive-book.png" alt="" >
            <h2>
                Invoices
            </h2>
        </div>
    </div>
    <img src="../../../../assets/images/Vector (2).png" alt="" class="vector2" >
</div>