


<div class="row">
    <div class="col-12" >
    <h1>Create New User</h1>
     <div class="card">
        <div class="card-body">
         <div class="heading  d-flex justify-content-between">
            <h2 class="mb-0">Personal Detais</h2>
            <p>
                *marked fields are necessarys.
            </p>
        </div>
        <hr>
       
            <div class="row">
                <div class="col-sm-8">
                    <form>
                        <div class="row mb-3">
                          <div class="col">
                            <label for="FirstName">FirstName</label>
                            <input type="text" class="form-control" placeholder="First name">
                          </div>
                          <div class="col">
                            <label for="LastName">LastName</label>
                            <input type="text" class="form-control" placeholder="Last name">
                          </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                              <label for="Gender">Gender</label>
                             <select name="Gender" class="form-control"   id=""><option value="">Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                            </div>
                            <div class="col">
                              <label for="Date Of Birth">Date Of Birth</label>
                              <input type="date" class="form-control" placeholder="Date Of Birth">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <div class="col">
                              <label for="Email">Email*</label>
                              <input type="text" class="form-control" placeholder="Email">
                            </div>
                            <div class="col">
                              <label for="PhoneNumber">PhoneNumber</label>
                              <input type="text" class="form-control" placeholder="PhoneNumber">
                            </div>
                          </div>
 
                          <h2>Create Password</h2>
                             <hr>
                          <div class="row mb">
                            <div class="col">
                              <label for="Password*">Password*</label>
                              <input type="text" class="form-control position-relative" placeholder="Password* ">
                              <mat-icon class="icon">visibility</mat-icon>
                            </div>
                            <div class="col">
                              <label for="Re-Enter Password*">Re-Enter Password*</label>
                              <input type="text" class="form-control  position-relative" placeholder="Re-Enter Password* ">
                              <mat-icon class="icon">visibility</mat-icon>
                            </div>
                          </div>
                      </form>
                      <button class="btn-lg bg px-5 ">Create</button>
                    </div>
                </div>
                   
        </div>
     </div>
   