


<div class="card">
    <div class="card-body">
<div class="row mb-5">
    <div class="col-sm-3">
         <img src="../../../../assets/images/Frame .png" alt="" class="img-fluid w-100">
    </div>
    <div class="col-sm-9">
        <h2>Lorem ipsum Doller</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa fuga excepturi consectetur laudantium corporis laborum vel, voluptate totam nam? Eos, fugit! Unde quidem delectus, repellendus excepturi suscipit culpa nesciunt rem.
        </p>
    </div>
</div>

<div class="row flex-row-reverse  mb-5">
    <div class="col-sm-3">
         <img src="../../../../assets/images/Frame .png" alt="" class="img-fluid w-100">
    </div>
    <div class="col-sm-9">
        <h2>Lorem ipsum Doller</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa fuga excepturi consectetur laudantium corporis laborum vel, voluptate totam nam? Eos, fugit! Unde quidem delectus, repellendus excepturi suscipit culpa nesciunt rem.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-sm-3 mb-4">
        <img src="../../../../assets/images/Frame .png" alt=""  class="img-fluid w-100 position-relative">
      <div class="containt text-white">
        <h3>Lorem ipsum dolor</h3>
        <p>Lorem ipsum dolor sit amet consectetur</p>
      </div>
    </div>
    <div class="col-sm-3 mb-4">
        <img src="../../../../assets/images/Frame .png" alt="" class="img-fluid w-100">
        <div class="containt text-white">
            <h3>Lorem ipsum dolor</h3>
            <p>Lorem ipsum dolor sit amet consectetur</p>
          </div>
    </div>
    <div class="col-sm-3 mb-4">
        <img src="../../../../assets/images/Frame .png" alt="" class="img-fluid w-100">
        <div class="containt text-white">
            <h3>Lorem ipsum dolor</h3>
            <p>Lorem ipsum dolor sit amet consectetur</p>
          </div>
    </div>
    <div class="col-sm-3 mb-4">
        <img src="../../../../assets/images/Frame .png" alt="" class="img-fluid w-100">
        <div class="containt text-white">
            <h3>Lorem ipsum dolor</h3>
            <p>Lorem ipsum dolor sit amet consectetur</p>
          </div>
    </div>
</div>
    </div>
</div>